$color-red     : #FC5C63;
$color-offwhite: #F0EFF4;
$color-medblue : #3E92CC;
$color-dkblue  : #5b57fa;
$color-black   : #1E1B18;
$color-mint    : #43AF6E;
$color-nanner  : #FDCA40;
$color-peach   : #f3b5b7;