$color-red     : #FC5C63;
$color-offwhite: #E7ECEF;
$color-medblue : #99B2DD;
$color-dkblue  : #5b57fa;
$color-black   : #1E1B18;
$color-mint    : #43AF6E;
$color-nanner  : #FDCA40;
$color-peach   : #f3b5b7;
$color-orange  : #F0544F;
$color-brown   : #D8A47F;
$color-slate   : #272932;