@mixin font-header {
  font-family: 'Futura', Arial, Helvetica, sans-serif;
  font-weight: 700;
  //text-transform: uppercase;
}

@mixin font-body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 0.85rem;
}