<nav class="navigation" role="navigation">
  <div class="navigation--masthead">
    <h1><%=link_to "Journalistic Intent", root_path %></h1>
  </div>
  <div class="navigation--credits">
    <h3>by Nick Jones</h3>
  </div>
</nav>