<nav class="navigation" role="navigation">
  <div class="navigation--masthead">
    <h1><%=link_to "Journalistic Intent", root_path %></h1>
  </div>
  <div class="navigation--tagline">
    <h2>"All things are ready, if our minds be so."</h2>
  </div>
  <div class="navigation--credits">
    <h3>Volume 1</h3>
  </div>
</nav>