<nav class="segmented-control">
  <span class="segmented-control--button segmented-control--button__active">
    <%= link_to 'Drafts', drafts_path %>
  </span>
  <span class="segmented-control--button">
    <%= link_to 'Sent', sent_path %>
  </span>
</nav>