<% title "Linked" %>

<div class="links index">
  <h5 class="is-upcase">Linked</h5>
    <p class="small has-bottom-margin">Almost too small to mention</p>
    <ul>
      <% for link in @links %>
        <%= render link %>
      <% end %>
    </ul>
</div>


<%= paginate @links %>